@import './base.css';

/* Vars */
:root {
  --primary-color: #2a3041;
  --secondary-color: #03a8b5;
}

/* Classes */
.error_input {
  outline: yellow;
  animation: shake 1s ease-in-out;
}

/* Animations */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  5% {
    border: solid 2px red;
  }
  20% {
    transform: translateX(-12px);
  }
  40% {
    transform: translateX(12px);
  }
  60% {
    transform: translateX(-12px);
  }
  80% {
    transform: translateX(12px);
  }
  90% {
    border: solid 2px red;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes show_options {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateY(0rem);
  }
}
